<!DOCTYPE html>
<html>
<head>
  <title><%=add_title_text(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<h1><%=add_header_text(yield(:title))%></h1>

<%= yield %>
  <p>
      This is a generic page :(
      TTYL <%= "\u00AE" %>
  </p>
</body>
</html>
